body {
    margin: 0; 
    height: 100vh; 
    display: flex; 
    justify-content: center;
    align-items: center; 
    background-image: url('../assets/img/bkimg.jpg');
    background-size: cover;
    background-position: center;
}
.container {
    text-align: center; 
    background-color: #f0c7b6; 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

h3 a {
    text-decoration: none; 
}

h3 a:hover {
    text-decoration: underline; 
}